#upper{
    height:80px;
    width:100%;
    /* border:1px solid #e3e3e3; */
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    color:#83857d;
}
#upper>div{
    /* border:1px solid red; */
    margin-top: 10px;
    height: 80px;
    width:10%;
}
#logo{
    height:70px;
    width:20%;
    margin-top:none;
    

}
#logo>img{
    height:80px;
    width:100%;
    margin:0px 20px 5px 70px;
    border-radius: 20px;
    
}
#search{
    height:80px;
    width:200px;
    margin-left: 50px;
}
#search>input{
    height:60px;
    width:400px;
    font-size: 17px;
    margin-left:70px;
    margin-top:5px;
    border:1px solid #e3e3e3;
    display: flex;
    
}
#dwnapp{
    height:50px;
    width:120px;
    /* border:1px solid red; */
    margin-left:25%;
    color:rgb(78, 68, 68);
    text-align: center;
    font-size: 20px;
    
}

#supplier{
    height:50px;
    width:120px;
    /* border:1px solid red; */
    /* margin-left:0px; */
    color:rgb(78, 68, 68);
    text-align: center;
    font-size: 20px;
}
#profile>svg{
    height:40px
}
#profile>p{
    font-size: 20px;
    margin-top: 0;
}
#cart>svg{
    height:40px;
}
#cart>p{
    font-size: 20px;
    margin-top: 0;
}
#down{
    height:50px;
    width:100%;
    border:1px solid #e3e3e3;
    display: flex;
    justify-content: space-around;
}
#down>div{
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    color:#83857d
}
#shopping{
    height:400px;
    width:80%;
    /* border:1px solid black; */
    margin:auto;
    margin-top: 40px;
    display: flex;


}
#Best_quali{
    height:400px;
    width:50%;
    /* border:1px solid red; */
    background-color: #f9f9f9;

}
#for199{
    height:400px;
    width:50%;
    /* border:1px solid green; */
}
#for199>img{
    width:100%;
    height:400px;
}
#Best_quali>div:first-child{
    height:150px;
    width:80%;
    margin:20px 30px 10px 40px;
    /* border:1px solid red; */
}
#Best_quali>div:first-child>p{
    color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    font-family: "Mier bold";
}
#Best_quali>div:nth-child(2){
    height:70px;
    width:80%;
    /* border:1px solid red; */
    border-radius: 10px;
    background-color: white;
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.gadi{
    height:60px;
    width:30%;
    /* border:1px solid red; */
}
.gadiimg{
    height:50px;
    width:50px;
    /* border:1px solid red; */
    margin-top:2px;
    border-radius: 50%;
    background-color: #dc72a9;
    display: flex;
    
}
.gadiimg>img{
    height:50px;
    width:100%;
}
.gadiimg>p{
    text-align: center;
    margin-left: 10px;
    font-weight: bold;
    color:rgb(51, 51, 51);
}
#Best_quali>div:nth-child(3){
    height:50px;
    width:60%;
    border:1px solid red;
    margin:30px 0 0 25px;
    background-color: #f43397;
    border-radius: 5px;
    display: flex;

}
#Best_quali>div:nth-child(3)>img{
    margin: 10px 0 0 30px;
    
    width:30px;
    height: 30px;
}
#Best_quali>div:nth-child(3)>p{
    color:#FFFFFF;
    font-size: 20px;
    font-family: "Mier bold";
    font-weight: bold;
    margin:10px 0 0 10px;
}
h1{
    font-family: "Mier-bold";
    text-align: center;
    margin:auto;
    max-width:70% ;
    position: relative;
    margin-top: 60px;
    color:rgb(51, 51, 51);
    font-size: 40px;
}
h1:before{
    content:"";
    display: block;
    width:200px;
    height: 1px;
    background-color: #f43397;
    position: absolute;
    left:0;
    top:50%;
    
}
h1:after{
    content:"";
    display: block;
    width:200px;
    height: 1px;
    background-color: #f43397;
    position: absolute;
    right:0;
    top:50%;
}


