#upper{
    height:80px;
    width:100%;
    /* border:1px solid #e3e3e3; */
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    color:#83857d;
}
#upper>div{
    /* border:1px solid red; */
    margin-top: 10px;
    height: 80px;
    width:10%;
}
#logo{
    height:70px;
    width:20%;
    margin-top:none;
    

}
#logo>img{
    height:80px;
    width:100%;
    margin:0px 20px 5px 70px;
    border-radius: 20px;
    
}
#search{
    height:80px;
    width:200px;
    margin-left: 50px;
}
#search>input{
    height:60px;
    width:400px;
    font-size: 17px;
    margin-left:70px;
    margin-top:5px;
    border:1px solid #e3e3e3;
    display: flex;
    
}
#dwnapp{
    height:50px;
    width:120px;
    /* border:1px solid red; */
    margin-left:25%;
    color:rgb(78, 68, 68);
    text-align: center;
    font-size: 20px;
    
}

#supplier{
    height:50px;
    width:120px;
    /* border:1px solid red; */
    /* margin-left:0px; */
    color:rgb(78, 68, 68);
    text-align: center;
    font-size: 20px;
}
#profile>svg{
    height:40px
}
#profile>p{
    font-size: 20px;
    margin-top: 0;
}
#cart>svg{
    height:40px;
}
#cart>p{
    font-size: 20px;
    margin-top: 0;
}
#down{
    height:50px;
    width:100%;
    border:1px solid #e3e3e3;
    display: flex;
    justify-content: space-around;
}
#down>div{
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    color:#83857d
}
#shopping{
    height:400px;
    width:70%;
    /* border:1px solid black; */
    margin:auto;
    margin-top: 40px;
    display: flex;


}
#Best_quali{
    height:400px;
    width:50%;
    /* border:1px solid red; */
    background-color: #f9f9f9;

}
#for199{
    height:400px;
    width:50%;
    /* border:1px solid green; */
}
#for199>img{
    width:100%;
    height:400px;
}
#Best_quali>div:first-child{
    height:150px;
    width:80%;
    margin:20px 30px 10px 40px;
    /* border:1px solid red; */
}
#Best_quali>div:first-child>p{
    color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    font-family: "Mier bold";
}
#Best_quali>div:nth-child(2){
    height:70px;
    width:80%;
    /* border:1px solid red; */
    border-radius: 10px;
    background-color: white;
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.gadi{
    height:60px;
    width:30%;
    /* border:1px solid red; */
}
.gadiimg{
    height:50px;
    width:50px;
    /* border:1px solid red; */
    margin-top:2px;
    border-radius: 50%;
    background-color: #dc72a9;
    display: flex;
    
}
.gadiimg>img{
    height:50px;
    width:100%;
}
.gadiimg>p{
    text-align: center;
    margin-left: 10px;
    font-weight: bold;
    color:rgb(51, 51, 51);
}
#Best_quali>div:nth-child(3){
    height:50px;
    width:60%;
    border:1px solid red;
    margin:30px 0 0 25px;
    background-color: #f43397;
    border-radius: 5px;
    display: flex;

}
#Best_quali>div:nth-child(3)>img{
    margin: 10px 0 0 30px;
    
    width:30px;
    height: 30px;
}
#Best_quali>div:nth-child(3)>p{
    color:#FFFFFF;
    font-size: 20px;
    font-family: "Mier bold";
    font-weight: bold;
    margin:10px 0 0 10px;
}
h1{
    font-family: "Mier-bold";
    text-align: center;
    margin:auto;
    max-width:70% ;
    position: relative;
    margin-top: 60px;
    color:rgb(51, 51, 51);
    font-size: 40px;
}
h1:before{
    content:"";
    display: block;
    width:200px;
    height: 1px;
    background-color: #f43397;
    position: absolute;
    left:0;
    top:50%;
    
}
h1:after{
    content:"";
    display: block;
    width:200px;
    height: 1px;
    background-color: #f43397;
    position: absolute;
    right:0;
    top:50%;
}
#BeFashion{
    height:550px;
    width:70%;
    /* border:1px solid red; */
    display: flex;
    justify-content: space-evenly;
    margin:auto;
    margin-top: 60px;
    border-radius: 5px;
    background-image: url(https://images.meesho.com/images/marketing/1678691670429_1200.webp);
}
#BeFashion>div:nth-child(1){
    height:430px;
    width:30%;
    /* border:1px solid red; */
    margin-top:7%;
    margin-left:none;

}
#BeFashion>div:nth-child(2)>img{
    margin-top:70%;
    margin-left: 20px;
}
#BeFashion>div:nth-child(3)>img{
    margin-top:75%;
}
#Essential{
    height:550px;
    width:70%;
    border:1px solid white;
    border-radius: 5px;
    margin:auto;
    background-image: url(https://images.meesho.com/images/marketing/1678691743015_1200.webp);
    margin-top: 60px;
}
#Essential>div:first-child{
    height:350px;
    width:700px;
    /* border:1px solid red; */
    margin-left: 35%;
    margin-top: 7%;
    display: flex;
    justify-content: space-around;

}
#Essential>div:last-child{
    height:60px;
    width:700px;
    /* border:1px solid red; */
    margin-left: 35%;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}
#New_styles{
    height:550px;
    width:70%;
    border:1px solid white;
    border-radius: 5px;
    margin:auto;
    background-image: url(https://images.meesho.com/images/marketing/1678691892265_1200.webp);
    margin-top: 60px;
}
#New_styles>div:first-child{
    height:350px;
    width:700px;
    /* border:1px solid red; */
    margin-left: 35%;
    margin-top: 7%;
    display: flex;
    justify-content: space-around;

}
#New_styles>div:last-child{
    height:60px;
    width:700px;
    /* border:1px solid red; */
    margin-left: 35%;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}
#seller{
    height:550px;
    width:70%;
    border:1px solid white;
    border-radius: 5px;
    margin:auto;
    background-image: url(https://images.meesho.com/images/pow/downloadBannerDesktop_1050.webp);
    margin-top: 60px;
}
#meesho_supplier{
    width:70%;
    height:350px;
    background-image: url(https://images.meesho.com/images/pow/supplyBannerDesktop_1106.webp);
    margin: auto;
    margin-top: 60px;
}
h4{
    color: rgb(85, 133, 248);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    font-family: "Mier bold";
    margin: 5% 10% 0px 60%;
    padding: 0px;
}
#seller>h2{
    color: rgb(244, 51, 151);
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 52px;
    font-family: "Mier bold";
    margin: 1% 0 0 40%;
    padding: 0px;
}
#seller>div{
    height:60px;
    width:40%;
    /* border:1px solid red; */
    margin-top: 50px;
    margin-left: 50%;
    display: flex;
    justify-content: space-around;

}
#seller>div>img{
    height:50px;
    width:40%;
    /* padding:1rem; */
    border-radius: 5px;
}
#meesho_supplier .title{
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color:rgb(255 255 255);
    margin: 10% 10% 10% 10%;
    
}
#meesho_supplier>p{
    color: rgb(255 255 255);
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 26px;
    margin-left: 10%;
    font-family: "Mier bold";
}
#meesho_supplier>div{
    height:60px;
    width:60%;
    /* border:1px solid red; */
    margin:50px 0 0 110px;
    display: flex;
    justify-content: space-between;

}
.temp>svg{
    padding:1rem;
}
.temp{
    display: flex;
    color:#e3e3e3;
    font-size:20px;
    font-weight: bold;
}
#meesho_supplier>div:last-child{
    height:70px;
    width:15%;
    /* border:1px solid red; */
    background-color:rgb(255 255 255);
    color:#f43397;
    border-radius:10px;
    font-size: 20px;
    font-weight: bold;
}
#meesho_supplier>div:last-child>p{
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";

}
#products{
    height:5000px;
    width:100%;
    border:1px solid red;
    display: flex;
    justify-content: space-around;
    margin-top:50px;
}


#left{
    height:2500px;
    width:20%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;}

#sort{
    height: 40px;
    width:90%;
    /* border:1px solid  rgb(176, 168, 168); */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    margin:auto;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 15px;
}
#left>p{
    /* color:black; */
    margin-left: 15px;
    color: rgb(51, 51, 51);
    font-style: normal;
    /* font-weight: 600; */
    font-size: 20px;
    line-height: 20px;
    font-family: "Mier demi";
}
#left>hr{
    width:90%;
    margin:auto;
    color:rgba(27, 31, 35, 0.15)
}
.aeiou{
    height:40px;
    width:90%;
    margin:auto;
    /* border:1px solid black; */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.aeiou>p{
    font-size: 20px;
    margin-top: 5px;
}
#right{
    height:4000px;
    width:75%;
    border:1px solid red;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto,400px);
    gap:10px;
}
#innerRight{
    height:500px;
    margin-top: none;
    border:1px solid red;
    display:block;
    text-align: center;
    margin-bottom: none;
}
#innerRight>img{
    height:300px;
    width:100%
}
